
.bg-image {
    background-position: 'center';
    background-size : 'cover';
    background-repeat: 'no-repeat';
    width: '100vw';
    height: '100vh';
}

.bg1 { background-image: url("../img/bg/Home.JPG"); }
.bg2 { background-image: url("../img/bg/LoveStory.jpg"); }
.bg3 { background-image: url("../img/bg/Photos.jpg"); }
.bg4 { background-image: url("../img/bg/Venue.jpg"); }
.bg5 { background-image: url("../img/bg/RSVP.jpg"); }