@import '../../assets/scss/colors.scss';

.tickerCell {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 10%;
    font-family: 'Parisienne', cursive;
    margin-inline: 1rem;

    > .tickerCellValue {
        font-size: 4rem;
        color: $light-gold;

    }
    
    > .tickerCellLabel {
        color: $light-gold;
        font-size: 1.875rem;

    }
}