@import '../../../assets/scss/colors.scss';

.header {
    font-size: 60px;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    margin-bottom: 10px;
    color: $gold;
}

.storyContainer {
    width: 1000px;
    height: 725px;
    border: 1px solid $gold;
    border-radius: 20px;
    background-color: $light-gray;
    padding: 10px;

    .storyCell {
        display:flex;
        width: 100%;
        height: 50%;
        
        .storyPhoto {
            object-fit: fill;
            width: 300px;
            height: 350px;
            padding: 7px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 20px;
                border: 1px solid $gold;
            }
        }

        .story {
            display: flex;
            flex-direction: column;
            width: 700px;
            height: 350px;
            padding: 30px;
            overflow: hidden;

            .names {
                padding-top: 10px;
                color: $dark-blue;
                font-size: 30px;
                font-weight: 200;
            }

            p {
                margin-top: 8px;
                word-wrap: break-word;
                font-size: 17px;
                width: 650px;
                text-align: justify;
            }
        }
    }

    .storyRightPic {
        display:flex;
        width: 1000px;
        height: 350px;
        
        p {
            word-wrap: break-word;
            width: 700px;
            height: 350px;
            font-size: 24px;
        }
    }
}