
.bg {
    background-image: url("../../../assets/img/bg/Photos.jpg"); 
    background-position: center;
    background-size : cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    max-width:100%; 
}