@import '../../../assets/scss/colors.scss';

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

h1 {
    
    font-size: 3.75rem;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    margin-bottom: 0.625rem;
    color: $gold;
    
}


.carousel {
    width: 64rem;
    height: 48rem;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 0.625rem;
    margin-bottom: 2.5rem;
    position: relative;

    .carousel-button {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
        height: 3.125rem;
        width: 3.125rem;
        border: 0;
        z-index: 2;
        background: rgba(255,255,255,0);

        &.button--left {
            left: 0.625rem;
        }

        &.button--right {
            right: 0.625rem;
        }

        .arrow-right, .arrow-left {
            height: 3.125rem;
            width: 3.125rem;
        }
    }
    
    
    .carousel-wrapper {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        transition: all 1s ease-in-out;

        figure {
            height: 100%;
            width: 100%;
            display: inline-block;
            position: relative;

            img {
                height: 100%;
                width: auto;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
            }
        }

    }

}
