@import '../../assets/scss/colors.scss';

.tickerShell {
    align-self: auto;
    display: flex;
    border: 0.063rem solid $gold;
    background-color: $dark-blue;
    opacity: 0.8;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1%;
    bottom: 0%;

    .timeIsUp {
        flex: 1;
        text-align: center;
        font-size: 3.5rem;
        text-transform: uppercase;
        font-weight: 600;
    }
}