@import '../../../assets/scss/colors.scss';

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $white;
    padding: 3rem 0;
}

.bg {
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url("./../../../assets/img/Photos/rsvp.jpg");
    background-position: center;
    background-size : auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 37rem;
    -webkit-filter: contrast(70%);
    -moz-filter: contrast(70%);
    -o-filter: contrast(70%);
    -ms-filter: contrast(70%);
    filter: contrast(70%);
}
