@import '../../assets/scss/colors.scss';

.navbar {
    position: sticky;
    top: 0;
    left: 1.25rem;
    width: 5.625rem;
    z-index: 2;

    ul {
        position: absolute;
        top: 3rem;
        padding: none;
        list-style: none;
        border-radius:  0.5rem;
        background-color: $pure-blue;
        box-shadow: 0 0.188rem 1rem rgba(0,0,0,0.4);

        li {
            padding: 1.5rem;
            font-size: 1.125rem;
            text-align: center;

            > button {
                background: transparent;
                border: none;
                outline: none;
                color: $white;
                cursor: pointer;
            }

            > button:hover {
                color: $gold;
            }
        }
    }
}