@import '../../../assets//scss/colors.scss';

.bg {
    background-image: url("../../../assets/img/bg/Home3.jpg"); 
    background-position: center;
    background-size : cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100vw;
    color: $text-color;
    
    .groom {
        font-family: Lucida Handwriting;
        font-size: 74px;
        font-weight: 100;
        font-style: normal;
        text-align: center;
        color: $blue;
        margin-top: 10%;
    }
    .filler {
        font-family: Lucida Handwriting;
        font-size: 40px;
        font-weight: 100;
        font-style: normal;
        text-align: center;
        color: $blue;
    }
    .bride {
        font-family: "Lucida Handwriting";
        font-size: 74px;
        font-weight: 100;
        font-style: normal;
        text-align: center;
        color: $blue;
    }
    
    p {
        font-family: "Playfair Display", serif;
        margin-bottom: 1.8rem;
        color: $dark-blue;
        font-size: 30px;
    }
}

