@import '../../../assets//scss/colors.scss';

.caption {
    font-size: 3.75rem;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    color: $gold;
    margin-top: 3.125rem;
}

p {
    margin-bottom: 1.8rem;
    color: #888888;
    font-size: 1.25rem;
}

.pictureContainer {
    display: flex;  
    height: 18.75rem;
    width: 60%;
    align-items: center;
    justify-content: center;
    margin-top: 5%;

    .separator {
        font-family: 'Parisienne', cursive;
        color: $gold;
        font-size: 4.375rem;
        text-align: center;
    }
    
    .pictureAndName {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            object-fit: cover;
            object-position: center center;
        }
    
        .names {
            padding-top: 0.625rem;
            color: $dark-blue;
            font-size: 2.5rem;
            font-weight: 200;
            text-align: center;
        }
    }
}

.profilePicture {
    width: 18.75rem;
    height: 18.75rem;
    border-radius: 12.5rem;
    border: 0.063rem solid $dark-blue;
    margin-inline: 1.875rem;
}

.captionContainer {
    display: flex;
    align-items: center;
    flex-direction: column;

    p {
        text-align: center;
    }
}