@import '../../../assets//scss/colors.scss';


.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $white;
    color: $white;
    width: 100vw;
    height: 100vh;
}

.caption {
    font-size: 60px;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    color: $gold;
    margin-top: 50px;
}

p {
    margin-bottom: 1.8rem;
    color: #888888;
    font-size: 20px;
}

.pictureContainer {
    display: flex;  
    height: 300px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 5%;

    .separator {
        font-family: 'Parisienne', cursive;
        color: $gold;
        font-size: 70px;
    }
    
    .pictureAndName {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            object-fit: cover;
            object-position: center center;
        }
    
        .names {
            padding-top: 10px;
            color: $dark-blue;
            font-size: 40px;
            font-weight: 200;
        }
    }
}

.profilePicture {
    width: 300px;
    height: 300px;
    border-radius: 200px;
    border: 1px solid $dark-blue;
    margin-inline: 30px;
}

.captionContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}