@import './assets/scss/colors.scss';
@import './assets/scss/imgsrc.scss';

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

html {
    background: linear-gradient($background-dark-gradient, $background-light-gradient);
    font-size: 10px;
}

body {
    display: flex;
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
  
#root {
    display: grid;
    place-items: center center;
    flex: 1;
}

.appContainer {
	height: auto;
	width: 100vw;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}
