@import './assets/scss/colors.scss';
@import './assets/scss/helpers.scss';
@import './assets/scss/imgsrc.scss';
@import 'https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Parisienne&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Material+Icons+Round';

h1,h2,h3,h4,h5,h6 {
    font-family: 'Parisienne', cursive;
}

* {
    margin: 0;
    padding: 0;
    // Hide scrollbar
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    max-width:100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}
  

html {
    background: linear-gradient($background-dark-gradient, $background-light-gradient);
    font-size: 16px;
}

body {
    display: flex;
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
  
#root {
    display: grid;
    place-items: center center;
    flex: 1;
}

.appContainer {
	height: 100vh;
	width: 100%;
	display: flex;
}
